In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('./data/springleaf/train.csv.zip')
df_test = pd.read_csv('./data/springleaf/test.csv.zip')

/Users/sckim/.pyenv/versions/3.8.2/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/sckim/.pyenv/versions/3.8.2/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8,9,10,11,12,43,157,167,177,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_train

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,290457,H,276,144,3000,C,2.0,3.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145227,290458,R,39,414,2821,C,3.0,1.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
145228,290459,R,103,31,2604,B,1.0,1.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145229,290461,H,78,12,4325,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,1
145230,290463,H,228,120,18500,B,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145231 entries, 0 to 145230
Columns: 1934 entries, ID to target
dtypes: float64(477), int64(1406), object(51)
memory usage: 2.1+ GB

In [5]:
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

           Total   Percent
VAR_0207  145231  1.000000
VAR_0213  145231  1.000000
VAR_0840  145231  1.000000
VAR_0214  145219  0.999917
VAR_0157  144311  0.993665
VAR_0158  143142  0.985616
VAR_0205  142974  0.984459
VAR_0206  142903  0.983970
VAR_0167  142664  0.982325
VAR_0177  141873  0.976878
VAR_0156  139361  0.959582
VAR_0159  139361  0.959582
VAR_0209  135844  0.935365
VAR_0168  134506  0.926152
VAR_0178  133158  0.916870
VAR_0166  131001  0.902018
VAR_0169  131001  0.902018
VAR_0179  127699  0.879282
VAR_0176  127699  0.879282
VAR_0211  125775  0.866034

In [6]:
missing_data[missing_data["Total"] > 1]

           Total   Percent
VAR_0207  145231  1.000000
VAR_0213  145231  1.000000
VAR_0840  145231  1.000000
VAR_0214  145219  0.999917
VAR_0157  144311  0.993665
...          ...       ...
VAR_0089      56  0.000386
VAR_0086      56  0.000386
VAR_0085      56  0.000386
VAR_0084      56  0.000386
VAR_0083      56  0.000386

[525 rows x 2 columns]

In [7]:
df_train = df_train.drop((missing_data[missing_data['Total'] > 1]).index,1)
df_test = df_test.drop((missing_data[missing_data['Total'] > 1]).index,1)

In [8]:
df_train

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0532,VAR_0533,VAR_0534,VAR_0535,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,5,0,0,5,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,0,0,0,3,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0,0,0,1,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0,0,0,1,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0,0,0,1,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,290457,H,276,144,3000,C,0,0,0,2,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145227,290458,R,39,414,2821,C,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
145228,290459,R,103,31,2604,B,0,0,0,0,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145229,290461,H,78,12,4325,C,3,0,0,2,...,98,98,998,999999998,998,998,9998,9998,IAPS,1
145230,290463,H,228,120,18500,B,0,0,0,4,...,98,98,998,999999998,998,998,9998,9998,IAPS,0

In [9]:
df_train["target"].unique()

array([0, 1])

In [10]:
df_train.select_dtypes(include=['O'])

       VAR_0001 VAR_0005 VAR_1934
0             H        C     IAPS
1             H        B     IAPS
2             H        C     IAPS
3             H        C      RCC
4             R        N   BRANCH
...         ...      ...      ...
145226        H        C   BRANCH
145227        R        C     IAPS
145228        R        B   BRANCH
145229        H        C     IAPS
145230        H        B     IAPS

[145231 rows x 3 columns]

In [11]:
df_train["VAR_0001"].unique()

array(['H', 'R', 'Q'], dtype=object)

In [12]:
df_train['0001H'] = df_train['VAR_0001'].map({'H': 1, 'R': 0, 'Q': 0})
df_train['0001R'] = df_train['VAR_0001'].map({'H': 0, 'R': 1, 'Q': 0})
df_train['0001Q'] = df_train['VAR_0001'].map({'H': 0, 'R': 0, 'Q': 1})
df_train.pop("VAR_0001")

df_test['0001H'] = df_test['VAR_0001'].map({'H': 1, 'R': 0, 'Q': 0})
df_test['0001R'] = df_test['VAR_0001'].map({'H': 0, 'R': 1, 'Q': 0})
df_test['0001Q'] = df_test['VAR_0001'].map({'H': 0, 'R': 0, 'Q': 1})
df_test.pop("VAR_0001")

0         R
1         R
2         R
3         R
4         H
         ..
145227    R
145228    R
145229    H
145230    H
145231    H
Name: VAR_0001, Length: 145232, dtype: object

In [13]:
df_train["VAR_0005"].unique()

array(['C', 'B', 'N', 'S'], dtype=object)

In [14]:
df_train['0005C'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005B'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005N'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005S'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train.pop("VAR_0005")

df_test['0005C'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005B'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005N'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005S'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test.pop("VAR_0005")

0         B
1         C
2         C
3         B
4         C
         ..
145227    B
145228    C
145229    B
145230    B
145231    B
Name: VAR_0005, Length: 145232, dtype: object

In [15]:
df_train["VAR_1934"].unique()

array(['IAPS', 'RCC', 'BRANCH', 'MOBILE', 'CSC'], dtype=object)

In [16]:
df_train['1934_IAPS'] = df_train['VAR_1934'].map({'IAPS': 1, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_train['1934_RCC'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 1, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_train['1934_BRANCH'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 1, 'MOBILE': 0, 'CSC': 0})
df_train['1934_MOBILE'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 1, 'CSC': 0})
df_train['1934_CSC'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 1})
df_train.pop("VAR_1934")

df_test['1934_IAPS'] = df_test['VAR_1934'].map({'IAPS': 1, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_test['1934_RCC'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 1, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_test['1934_BRANCH'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 1, 'MOBILE': 0, 'CSC': 0})
df_test['1934_MOBILE'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 1, 'CSC': 0})
df_test['1934_CSC'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 1})
df_test.pop("VAR_1934")

0           IAPS
1           IAPS
2           IAPS
3           IAPS
4           IAPS
           ...
145227    BRANCH
145228      IAPS
145229    BRANCH
145230      IAPS
145231      IAPS
Name: VAR_1934, Length: 145232, dtype: object

In [17]:
sum(df_train.select_dtypes(include=['O']))

0

In [18]:
df_train = df_train.fillna(-1)
df_test = df_test.fillna(-1)

In [19]:
df_train['target1'] = df_train["target"]
df_train.pop('target')
df_train

,ID,VAR_0002,VAR_0003,VAR_0004,VAR_0532,VAR_0533,VAR_0534,VAR_0535,VAR_0536,VAR_0537,...,0005C,0005B,0005N,0005S,1934_IAPS,1934_RCC,1934_BRANCH,1934_MOBILE,1934_CSC,target1
0,2,224,0,4300,5,0,0,5,3,0,...,1,1,1,1,1,0,0,0,0,0
1,4,7,53,4448,0,0,0,3,12,0,...,0,0,0,0,1,0,0,0,0,0
2,5,116,3,3464,0,0,0,1,2,0,...,1,1,1,1,1,0,0,0,0,0
3,7,240,300,3200,0,0,0,1,6,2,...,1,1,1,1,0,1,0,0,0,0
4,8,72,261,2000,0,0,0,1,8,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,290457,276,144,3000,0,0,0,2,3,1,...,1,1,1,1,0,0,1,0,0,0
145227,290458,39,414,2821,0,0,0,0,4,0,...,1,1,1,1,1,0,0,0,0,0
145228,290459,103,31,2604,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
145229,290461,78,12,4325,3,0,0,2,7,0,...,1,1,1,1,1,0,0,0,0,1
145230,290463,228,120,18500,0,0,0,4,6,0,...,0,0,0,0,1,0,0,0,0,0

In [22]:
df_train.to_csv('./data/springleaf/train_clean.csv.bz2', index=False, compression='bz2')

In [23]:
df_train_reduced = df_train.sample(n=22000, random_state=200)

In [24]:
df_train_reduced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22000 entries, 59363 to 44664
Columns: 1418 entries, ID to target1
dtypes: int64(1418)
memory usage: 238.2 MB

In [25]:
df_train_reduced.to_csv('./data/springleaf/train_small_clean.csv.bz2', index=False, compression='bz2')